

  
  body {
    font-family: Helvetica, sans-serif;
    background: #89c475;
    margin: 0;
  }
  

  .header {
    /* display: flex;
    justify-content: none; */
    padding: 10px 20px;
    background: black;
    color: white;
    height: 10vh;
    position: sticky;
    width: 100%;
  }

  .headerleft{
    display: inline;
    width: 50%;
    float: left;
    font-size: 46px;
    font-weight: 100;
   
    
  }

  .headerright{
    display: inline;
    width: 50%;
    float: right;
    margin-top: -85px;
    text-align: right;
    padding-right: 100px;
    
    
  }

  .items{
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding-left: 80px;
  }


 
  

  

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   height: 500px;
  } 
  
  .left,
  .right {
    padding: 30px;
    font-weight: 100;
    
    
  }
  
  .left{
    
    font-size: 24px;
    line-height: 1;
    margin-left: 80px;
    flex-wrap: wrap;
  }

  .right{
    width: max-content;
    
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: black 0.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input+.slider{
    background-color: tomato;
  }
  
  
  input:checked+.slider {
    background-color: rgb(114, 189, 114);
  }
  
  /* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: tomato;
  } */
  
  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #secondary_content {
    display: none;
  }


  .scene {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
  width:450px;
  height: 450px;
  gap: 2px;
/*   border: 1px solid #CCC; */
  
  
  
  }


  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 170px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
-webkit-border-radius:50%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(114, 189, 114);
    font-weight: 100;
    font-size: 16px;
  }
  
  .card__face--back {
    background: tomato;
    font-weight: 100;
    font-size: 16px;
    transform: rotateY(180deg);
  }
  

  

    .datetime{
        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-left: 80px;
    }

    .clockdate-wrapper {
       
        
        width:100%;
        
       padding-top: 40px;
       
      
    }
    #clock{
        font-family: helvetica, sans-serif;
        font-weight: 100;
        font-size:20px;
        color:#ffffff;
    }
    #clock span {
        
        
        font-size:20px;
        position:relative;
        
    }
    #date {
      padding-top: 10px;
        letter-spacing:0;
        font-size:20px;
        font-family:helvetica;
        font-weight: 100;
        color:#ffffff;
    }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  

















@media screen and (max-width: 400px) {

  .header {
    /* display: flex;
    justify-content: none; */
    padding: 10px 20px;
    background: black;
    color: #f1f1f1;
    height: 15vh;
    position: sticky;
    width: 100%;

  }

  .headerleft{
    display: block;
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: 100;
    
  }

  .headerright{
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: left;
    padding-right: 10px;
  }

  .items{
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding-left: 5%;
  }






  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
   height: auto;
   width: 100%;
  } 
  
  .left,
  .right {
    padding: 4%;
    font-weight: 100;
    
    
  }
  
  .left{
    
    font-size: 36px;
    line-height: 1;
    margin-left: 5%;
  }

  .right{
   
    margin-right: 5%;
    
  }


.clockdate-wrapper {
   
  
    width: 100%;
   padding: 5px;
    
}
#clock{
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
}
#clock span {
    
    
    font-size:14px;
    position:relative;
    
}
#date {
  padding-top: 10px;
    letter-spacing:0;
    font-size:14px;
    font-family:helvetica;
    font-weight: 100;
    color:#ffffff;
}
.scene {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
width: 350px;
height: 350px;
gap: 2px;
padding-bottom: 5%;

}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 120px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
-webkit-border-radius:50%;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(35, 168, 57);
  font-weight: 100;
  font-size: 14px;
}

.card__face--back {
  background: D6786B;
  font-weight: 100;
  font-size: 14px;
  transform: rotateY(180deg);
}

}