
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    background: #ACD6AB;
  }
  
  /* Style the header */
  .header {
    background-color: #373737;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    color: #f1f1f1;
  }
  
  h2{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;

  }
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   height: 500px;
  } 
  
  .left,
  .right {
    padding: 30px;
    font-weight: 100;
    
    
  }
  
  .left{
    background-color:#ACD6AB;
    font-size: 90px;
    line-height: 1;
    margin-left: 80px;
  }

  .right{
    background-color:#ACD6AB;
    
  }
  .scene {
    display: inline-block;
  width: 160px;
  height: 160px;
/*   border: 1px solid #CCC; */
  
  
  
  }

  
  
 
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 170px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
-webkit-border-radius:50%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(35, 168, 57);
    font-weight: 100;
    font-size: 16px;
  }
  
  .card__face--back {
    background: D6786B;
    font-weight: 100;
    font-size: 16px;
    transform: rotateY(180deg);
  }
  
  .box{
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #ACD6AB;

  }

  .box :checked{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #1eb95f;
  
    }
   
  

    .datetime{
        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 36px;
        margin-left: 80px;
    }

    .clockdate-wrapper {
       
        
        width:100%;
        
       padding-top: 40px;
        background: #ACD6AB;
      
    }
    #clock{
        font-family: helvetica, sans-serif;
        font-weight: 100;
        font-size:50px;
        color:#000000;
    }
    #clock span {
        
        
        font-size:50px;
        position:relative;
        
    }
    #date {
      padding-top: 20px;
        letter-spacing:3px;
        font-size:20px;
        font-family:helvetica;
        font-weight: 100;
        color:#000000;
    }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  


  input,
textarea,
div[contenteditable],
iframe {
	border: 1px solid black;
	height: 60px;
    word-wrap: break-word;
	margin: 80px;
	width: 400px;

}

textarea,
div[contenteditable] {
	padding: 8px;
}

