

  
  body {
    font-family: Helvetica, sans-serif;
    background: #e0e0d7;
    margin: 0;
  }

  canvas{
    width: fit-content;
    height: fit-content;
    all: unset;
  }
  

  .header {
    /* display: flex;
    justify-content: none; */
    padding: 10px 20px;
    background: rgb(41, 41, 41);
    color: white;
    height: 10vh;
    position: sticky;
    width: 100%;
  }

  .headerleft{
    display: inline;
    width: 50%;
    float: left;
    font-size: 46px;
    font-weight: 100;
   
    
  }

  .headerright{
    display: inline;
    width: 50%;
    float: right;
    margin-top: -85px;
    text-align: right;
    padding-right: 100px;
    
    
  }

  .items{
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding-left: 80px;
  }


 
  

  

  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   height: auto;
  } 
  
  .left,
  .right {
    padding: 30px;
    font-weight: 100;
    
    
  }
  
  .left{
    
    font-size: 24px;
    line-height: 1;
    margin-left: 80px;
    flex-wrap: wrap;
  }

  .right{
    width: 100%;
    margin-left: 80px;
    
  }

  #div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

  
  #left, #right {
    margin-top: 20px;
    padding-top: 20px;
    background-color : #E8615F;
    min-height: 400px;
    
    border-radius: 3px;
  }
  
  #left {
    width: 49%;
    float: left;
  }
  
  #right {
    width: 49%;
    float: right;
  }
  
  .card-drop {
    background-color: #fff;
    margin: 7px;
    border-radius: 5px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  }
  
  .card-drop:hover {
    cursor: pointer;
  }
  
  .card-header {
    padding: 5px 0 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    padding: 10px 0 10px 5px;
  }
  
  
  
  
  
  

  .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 64px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border: black 0.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 64px;
    width: 64px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  input+.slider{
    background-color: tomato;
  }
  
  
  input:checked+.slider {
    background-color: rgb(114, 189, 114);
  }
  
  /* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: tomato;
  } */
  
  input:checked+.slider:before {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(136px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #secondary_content {
    display: none;
  }


  .scene {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
  width: 800px;
  height: 400px;
  gap: 2px;
/*   border: 1px solid #CCC; */
  
  
  
  }


  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
-webkit-border-radius:50%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(114, 189, 114);
    font-weight: 100;
    font-size: 16px;
  }
  
  .card__face--back {
    background: tomato;
    font-weight: 100;
    font-size: 12px;
    transform: rotateY(180deg);
  }
  


	.patch{
		border: 1px solid;
		height:20px;
		width:20px;
		border-radius: 50%;
		display:inline-block;
		cursor:pointer;
		box-sizing: border-box;
		margin:10px 0px;
	}
	.patch.active{
		box-shadow:0px 2px 3px #656565;
	}
	.color-red{
		background-color:tomato;
	}
	.color-green{
		background-color:rgb(114, 189, 114);
	}
  

    .datetime{
        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 20px;
        margin-left: 80px;
    }

    .clockdate-wrapper {
       
        
        width:100%;
        
       padding-top: 40px;
       
      
    }
    #clock{
        font-family: helvetica, sans-serif;
        font-weight: 100;
        font-size:20px;
        color:#ffffff;
    }
    #clock span {
        
        
        font-size:20px;
        position:relative;
        
    }
    #date {
      padding-top: 10px;
        letter-spacing:0;
        font-size:20px;
        font-family:helvetica;
        font-weight: 100;
        color:#ffffff;
    }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }


  .abouthead{
    width: 100%;
    background-color: tomato;
    padding: 1%;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 100;
    margin-left: 100px;
  }
  .aboutsub{
    width: 60%;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 100;
    margin-left: 100px;
  }
  


.btn{
  margin-top: 30px;
  display: inline-block;
        padding: 6px 12px;
       
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid black;
        border-radius: 4px;
}

.camera{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 4%;
  box-shadow: black 0.2;
}

.circle{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 4%;
  background-color: tomato;
}










@media screen and (max-width: 400px) {

  .header {
    /* display: flex;
    justify-content: none; */
    padding: 10px 20px;
    background: rgb(40, 40, 40);
    color: #f1f1f1;
    height: 15vh;
    position: sticky;
    width: 100%;

  }

  .headerleft{
    display: block;
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: 100;
    
  }

  .headerright{
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
    text-align: left;
    padding-right: 10px;
  }

  .items{
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    padding-left: 5%;
  }






  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
   height: auto;
   width: 100%;
  } 
  
  .left,
  .right {
    padding: 4%;
    font-weight: 100;
    
    
  }
  
  .left{
    
    font-size: 36px;
    line-height: 1;
    margin-left: 5%;
  }

  .right{
   
    margin-right: 5%;
    margin-left: 10%;
  }


.clockdate-wrapper {

    width: 100%;
   padding: 0;
    
}
#clock{
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color:#ffffff;
}
#clock span {
    
    
    font-size:14px;
    position:relative;
    
}
#date {
  padding-top: 0;
    letter-spacing:0;
    font-size:14px;
    font-weight: 100;
    color:#ffffff;
}
.scene {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
width: 320px;
height: 320px;
gap: 2px;
padding-bottom: 5%;

}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 120px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
-webkit-border-radius:50%;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(114, 189, 114);
  font-weight: 100;
  font-size: 12px;
}

.card__face--back {
  background: D6786B;
  font-weight: 100;
  font-size: 12px;
  transform: rotateY(180deg);
}

.abouthead{
  max-width: 100%;
  background-color: tomato;
  padding: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 5%;
}
.aboutsub{
  max-width: 100%;
  background-color: tomato;
  padding: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 100;
  margin-left: 5%;
  line-height: 1.5;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: black 0.5px solid;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}
input+.slider{
  background-color: tomato;
}


input:checked+.slider {
  background-color: rgb(114, 189, 114);
}

/* input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
  background-color: tomato;
} */

input:checked+.slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(36px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#secondary_content {
  display: none;
}

}