

  
  body {
    font-family: Helvetica, sans-serif;
    background: #e4e3d9;
    margin: 0;
  }
  

  .header {
    padding: 10px 16px;
    background: black;
    color: #f1f1f1;
  }
  h2{
    padding-left: 100px;
  }
  

  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  /* The grid container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
   height: 500px;
  } 
  
  .left,
  .right {
    padding: 30px;
    font-weight: 100;
    
    
  }
  
  .left{
    background-color:#e4e3d9;
    font-size: 90px;
    line-height: 1;
    margin-left: 80px;
    flex-wrap: wrap;
  }

  .right{
    background-color:#e4e3d9;
    
  }
  .scene {
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
  width:450px;
  height: 450px;
  gap: 2px;
/*   border: 1px solid #CCC; */
  
  
  
  }


  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 170px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border:0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:50%;
-webkit-border-radius:50%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: rgb(58, 189, 58);
    font-weight: 100;
    font-size: 16px;
  }
  
  .card__face--back {
    background: tomato;
    font-weight: 100;
    font-size: 16px;
    transform: rotateY(180deg);
  }
  

  

    .datetime{
        font-family: Helvetica, sans-serif;
        font-weight: 100;
        font-size: 36px;
        margin-left: 80px;
    }

    .clockdate-wrapper {
       
        
        width:100%;
        
       padding-top: 40px;
       
      
    }
    #clock{
        font-family: helvetica, sans-serif;
        font-weight: 100;
        font-size:50px;
        color:#000000;
    }
    #clock span {
        
        
        font-size:50px;
        position:relative;
        
    }
    #date {
      padding-top: 20px;
        letter-spacing:3px;
        font-size:20px;
        font-family:helvetica;
        font-weight: 100;
        color:#000000;
    }

  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }

  








@media screen and (max-width: 400px) {


  .header {
    padding: 5px 10px;
    background: #000000;
    color: #f1f1f1;
    min-width: 100%;
  }
  h2{
    padding-left: 5%;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
   height: auto;
   width: 100%;
  } 
  
  .left,
  .right {
    padding: 4%;
    font-weight: 100;
    
    
  }
  
  .left{
    
    font-size: 36px;
    line-height: 1;
    margin-left: 5%;
  }

  .right{
   
    margin-right: 5%;
    
  }
  .datetime{
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-left: 5%;
}

.clockdate-wrapper {
   
    
    width:100%;
    
   padding-top: 10px;
   
  
}
#clock{
    font-family: helvetica, sans-serif;
    font-weight: 100;
    font-size:20px;
    color:#000000;
}
#clock span {
    
    
    font-size:20px;
    position:relative;
    
}
#date {
  padding-top: 10px;
    letter-spacing:0;
    font-size:20px;
    font-family:helvetica;
    font-weight: 100;
    color:#000000;
}
.scene {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
width: 350px;
height: 350px;
gap: 2px;

}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 120px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  border:0.5px solid rgb(0, 0, 0);    
  -moz-border-radius:50%;
-webkit-border-radius:50%;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(35, 168, 57);
  font-weight: 100;
  font-size: 14px;
}

.card__face--back {
  background: D6786B;
  font-weight: 100;
  font-size: 14px;
  transform: rotateY(180deg);
}

}