
body {
  font-family: Helvetica, sans-serif;
  background: #e0e0d7;
  margin: 0;
 
}

.header {
  /* display: flex;
  justify-content: none; */
  padding: 10px 20px;
  background: rgb(41, 41, 41);
  color: white;
  height: 10vh;
  position: sticky;
  width: 100%;
}

.headerleft{
  display: inline;
  width: 50%;
  float: left;
  font-size: 46px;
  font-weight: 100;
 
  
}

.headerright{
  display: inline;
  width: 50%;
  float: right;
  margin-top: -85px;
  text-align: right;
  padding-right: 100px;
  
  
}

.items{
  margin-left: 0px;
  margin-right: 0px;
  color: white;
  padding-left: 80px;
}
.datetime{
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-left: 80px;
}

.clockdate-wrapper {
 
  
  width:100%;
  
 padding-top: 40px;
 

}
#clock{
  font-family: helvetica, sans-serif;
  font-weight: 100;
  font-size:20px;
  color:#ffffff;
}
#clock span {
  
  
  font-size:20px;
  position:relative;
  
}
#date {
padding-top: 10px;
  letter-spacing:0;
  font-size:20px;
  font-family:helvetica;
  font-weight: 100;
  color:#ffffff;
}



section {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: repeat(5, 200px);
  grid-template-columns: repeat(5, 1fr);
/*   grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-template-rows: repeat(5, 200px); */
  grid-auto-flow: row dense;
  min-height: 100vh;
  margin-left: calc(100%/10);
  margin-right: calc(100%/10);
  margin-top: 3% ;
}

.inside {
  font-weight: 100;
}

.divRec {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: tomato;
  border: black 1px solid;
    grid-area: span 1/span 2;
    border-radius: 10px;
}

.divQuad {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: #e4c94d;
    border-radius: 10px;
    grid-area: span 1/span 1;
    border: black 1px solid;
}

.divCard {
    cursor: move;
    padding: 35px 20px;
    font-size: 20px;
    background-color: #66ca66;
    border-radius: 10px;
    grid-area: span 1/span 1;
    border: black 1px solid;
}

.ghost {
  border: 1px dashed #000;
  background-color: tomato;
}

.custom-drag-ghost {
  /* The original cloned element must not take place up in the page and must not be visible */
  position: absolute;
  top: -99999px;
  left: -99999px;
  /* Just for appearance */
  background-color: #edb458;
  border: 1px solid #e8871e;
}

.hidden-drag-ghost {
  opacity: 0;
}

.transition {
  transition: all 2s ease-out .5s; 
  top: 0;
}
