
:root.light {
	--color-bg: #e1e1d2;
	--color-txt: #1733eb;
	--hover-color: #000000;
  --hover-color2: rgb(248, 47, 187);
  --hover-color3: rgb(68, 104, 49);

  
}

:root.dark {
	--color-bg: #202020;
	--color-txt: #badbac;
	--hover-color: #9df662;
  --hover-color2: rgb(255, 221, 0);
  --hover-color3: rgb(255, 0, 221);
}

  
  body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--color-bg);
    color: var(--color-txt);
    margin: 0;
  }

  canvas{
    width: fit-content;
    height: fit-content;
    all: unset;
  }

  /* The grid container */
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  margin-left: 3%;
  margin-right: 2%;
  gap: 1%;

  } 

  .left{
 
    font-size: 24px;
    line-height: 1;
    border: var(--color-txt) 0.5 solid;
    
  }
  .left .top{
    padding: 7%;
    border: var(--color-txt) solid 1px;
    border-radius: 10px;
    font-size: 14px;
  }

  #Layer_1{
    fill: var(--color-txt);
    width: 85%;
    height: auto;
    
  }
  #Layer_1:hover{
    fill: var(--hover-color);
  }

 
 .my-svg-alternate {
   display: none;
 }
 .no-svg .my-svg-alternate {
   display: block;
   width: 100px;
   height: 100px;
   background-image: url(assets/Untitled-2-02.png);
 }

  .right{

    width: 70%;
    margin-left: 12%;
  }
  .buttonb{
    
  background-color: var(--color-txt);
  color: var(--color-bg);
  padding: 6px 34px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  }
  .buttona{
    
    background-color: none;
    color: var(--color-txt);
    padding: 6px 34px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: var(--color-txt) solid 1px;
    }

  .button:hover{
    background-color: var(--hover-color);
    color: var(--color-bg);
  }


  .text-left{
    border: var(--color-txt) solid 1px;
    border-radius: 10px;
    width: 90%;
    padding: 5%;
    font-size: 16px;
    margin-top: 5%;
    height: 15vh;
  }
  .switch-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%!important;
    
  }
  .leftswitch{
    float: left;
  }
  .rightswitch{
    float: right;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 32px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .4s;
    transition: .4s;
    border: black 0.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 31px;
    left: 0px;
    bottom: 0px;
    background-color: var(--color-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border: var(--color-txt) 0.5px solid;
  }

  input+.slider{
    background-color: none;
    border: var(--color-txt) 0.5px solid;
  }
  
  
  input:checked+.slider {
    background-color: var(--color-txt);
    border: var(--color-txt) 0.5px solid;
  }
  
  /* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: tomato;
  } */
  
  input:checked+.slider:before {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(68px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 32px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #secondary_content {
    display: none;
  }


  .scene {
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
  width: 550px;
  height: 550px;
  gap: 1%;
border-radius: 10px;
padding-left: 0;
padding-right: 12%;
padding-bottom: 12%;
padding-top: 2%;
  
  
  
  }
  .form-check-input{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:0.5px solid var(--color-txt);
    background-color: var(--color-txt);

  }

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border: 0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    
  }
  

  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    line-height: 150px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    -moz-border-radius:5px;
-webkit-border-radius:5px;
    backface-visibility: hidden;
  }

  .card__face:hover{
    box-shadow:0px 2px 3px #656565;
    border: 2px solid var(--hover-color);
   
  }
  
  .card__face--front {
    background: var(--color-bg);
    border: 0.5px solid var(--color-txt); 
    font-weight: 400;
    font-size: 16px;
    
  
    
  }
  
  .card__face--back {
    background: var(--color-txt);
    border:0.5px solid var(--color-bg); 
    font-weight: 400;
    font-size: 16px;
    transform: rotateY(180deg);
    color: var(--color-bg);
  }

  .date-container{
    width: 300px;
    height: auto;
  }

  .display-date {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
  }
  
  .display-time {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid var(--color-txt);
    padding: 20px 20px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, rgba(255, 255, 255, 0.05));
      box-sizing: border-box;
  }
  
  .display-time:hover {
    background: var(--color-txt);
    box-shadow: 0 0 10px var(--color-bg);
    color: var(--color-bg);
    cursor: pointer;
  }


  /* #mydiv {
    position: absolute;
    z-index: 9;
    background-color: var(--hover-color);
    text-align: center;
    border: 1px solid var(--color-bg);
    
  } */
  
  /* #mydivheader {
    
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: var(--hover-color);
    color:var(--color-bg);
  } */
  .sticker-grid{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
  
    
  }

  .sticker{
    position: absolute;
    z-index: 9;
    background-color: var(--hover-color);
    text-align: center;
    border: 1px solid var(--color-bg);
    gap: 20px;
  
    
    
  } 
  
   .sticker div {
    padding: 5px;
    cursor: move;
    z-index: 10;
    color:var(--color-bg);
    font-size: 14px;
    box-shadow: #202020 0.5;
  

  }

  #mydiv2header{
    background: var(--hover-color2);
  }
  #mydiv3header{
    background: var(--hover-color3);
  }
  #mydiv{
    left: 0;
   }
 
   #mydiv2{
  
     left: 120px;
   }
 
   #mydiv3{
     left: 200px;
   
   }
  
  .footer {
      
    background-color: var(--color-txt);
    color: var(--color-bg);
    border-top: var(--color-txt) 0.5 solid;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    font-size: 14px;
    text-align: left;
    padding: 20px;
   
   
  }

  .footer:hover{
    background: var(--hover-color);
    color: var(--color-bg);
  }
  .footersmall {
    
    background-color: var(--color-txt);
    color: var(--color-bg);
    border-top: var(--color-txt) 0.5 solid;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    font-size: 12px;
    text-align: left;
    padding: 20px;
   
  }










 



  



  













  @media screen and (max-width: 375px) {
    /* The grid container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    gap: 1%;
    width: 100vw;
   

    } 

    .left{
   
      font-size: 24px;
      line-height: 1;
      border: none;
      width: 100%;
      grid-column: 1/2;
      
    }
    .left .top{
      
      padding: 1%;
      padding-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: var(--color-txt) 0.5px solid;
      border-radius: 10px;
      font-size: 14px;
      width: 90%;
      gap:60px;

    }
  
    #Layer_1{
      fill: var(--color-txt);
      width: 220%;
      height: auto;
    
    }
    #Layer_1:hover{
      fill: var(--hover-color);
    }
  
   
   .my-svg-alternate {
     display: none;
   }
   .no-svg .my-svg-alternate {
     display: block;
     width: 100px;
     height: 100px;
     background-image: url(assets/Untitled-2-02.png);
   }

   .date-container{
    width: 200px;
    height: auto;
    display: inline;
    
    
    
    /* right: 0;
    top:0; */
  }

  .display-date {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
  }
  
  .display-time {
    margin-top: 10px;
    font-size: 14px;
    border: 0px;
    padding: 0 10px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    /* transition-property: background, box-shadow, color; */
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, rgba(255, 255, 255, 0.05));
      box-sizing: border-box;
  }
  
  .display-time:hover {
    background: none;
    
    color: var(--hover-color);
    cursor: pointer;
  }
  
  
    .right{
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
    .buttonb{
    
      background-color: var(--color-txt);
      color: var(--color-bg);
      padding: 6px 24px;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      border-radius: 5px;
      cursor: pointer;
      }
      .buttona{
        
        background-color: none;
        color: var(--color-txt);
        padding: 6px 24px;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 5px;
        cursor: pointer;
        border: var(--color-txt) solid 1px;
        }
  
    .button:hover{
      background-color: var(--hover-color);
      color: var(--color-bg);
    }
  
  
   .text-left{
      border: none;
      border-radius: 10px;
      width: 87%;
      padding: 3%;
      font-size: 12px;
      margin-top: 10px;
      height: 10vh;
      border: var(--color-txt) 0.5px solid;
  
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 22px;
      
    }
    
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .switch-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 60% !important;
      gap: 2%;
      
    }
    .leftswitch{
      float: left;
      
    }
    .rightswitch{
      float: right;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: none;
      -webkit-transition: .4s;
      transition: .4s;
      border: black 0.5px solid;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left: 0px;
      bottom: 0px;
      background-color: var(--color-bg);
      -webkit-transition: .4s;
      transition: .4s;
      border: var(--color-txt) 0.5px solid;
    }
  
    input+.slider{
      background-color: none;
      border: var(--color-txt) 0.5px solid;
    }
    
    
    input:checked+.slider {
      background-color: var(--color-txt);
      border: var(--color-txt) 0.5px solid;
    }
    
    /* input:focus+.slider {
      box-shadow: 0 0 1px #2196F3;
      background-color: tomato;
    } */
    
    input:checked+.slider:before {
      -webkit-transform: translateX(200px);
      -ms-transform: translateX(200px);
      transform: translateX(40px);
    }
    
    
    /* Rounded sliders */
    
    .slider.round {
      border-radius: 32px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    
    #secondary_content {
      display: none;
    }
  
  
    .scene {
      display: grid;
      grid-template-columns: auto auto auto auto ;
      flex-wrap: wrap;
    width: 340px;
    height: 320px;
    gap: 2%;
  border-radius: 10px;
  padding-left: 0;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
 }

    .form-check-input{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border:0.5px solid var(--color-txt);
      background-color: var(--color-txt);
  
    }
  
    .card {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      cursor: pointer;
      transform-style: preserve-3d;
      transform-origin: center right;
      transition: transform 0.5s;
      border: 0.5px solid rgb(0, 0, 0);    
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
    }
    
  
    .card.is-flipped {
      transform: translateX(-100%) rotateY(-180deg);
    }
    
    .card__face {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      line-height: 70px;
      text-align: center;
      font-weight: 300;
      font-size: 9px;
      -moz-border-radius:5px;
  -webkit-border-radius:5px;
      backface-visibility: hidden;
    }
  
    .card__face:hover{
      box-shadow:0px 2px 3px #656565;
      border: 2px solid var(--hover-color);
     
    }
    
    .card__face--front {
      background: var(--color-bg);
      border: 0.5px solid var(--color-txt); 
      font-weight: 400;
      font-size: 12px;
    
      
    }
    
    .card__face--back {
      background: var(--color-txt);
      border:0.5px solid var(--color-bg); 
      font-weight: 400;
      font-size: 12px;
      transform: rotateY(180deg);
      color: var(--color-bg);
    }

   
    /* Style the footer */
    .footer {
      
      background-color: var(--color-txt);
      color: var(--color-bg);
      border-top: var(--color-txt) 0.5 solid;
      text-align: center;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      font-size: 14px;
      text-align: left;
      padding: 20px;
     
     
    }

    .footer:hover{
      background: var(--hover-color);
      color: var(--color-bg);
    }
    .footersmall {
      
      background-color: var(--color-txt);
      color: var(--color-bg);
      border-top: var(--color-txt) 0.5 solid;
      text-align: center;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100vw;
      font-size: 12px;
      text-align: left;
      padding: 20px;
     
    }

    .sticker-grid{
      padding-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      position: relative;
    
      
    }
  
    .sticker{
      display: none;
      position: absolute;
      z-index: 9;
      background-color: var(--hover-color);
      text-align: center;
      border: 1px solid var(--color-bg);
      gap: 20px;
    
      
      
    } 
    
     .sticker div {
      padding: 5px;
      cursor: move;
      z-index: 10;
      color:var(--color-bg);
      font-size: 14px;
      box-shadow: #202020 0.5;
    
  
    }
  
    #mydiv2header{
      background: var(--hover-color2);
    }
    #mydiv3header{
      background: var(--hover-color3);
    }
   
  
  
  
  
  

  }














