
:root.light {
	--color-bg: #ffffff;
	--color-txt: #000000;
	--hover-color: #0610d3;
}

:root.dark {
	--color-bg: #000000;
	--color-txt: #ffffff;
	--hover-color: #9df662;
}

  
  body {
   font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-txt);
    margin: 0;
  }

  canvas{
    width: fit-content;
    height: fit-content;
    all: unset;
  }
  

  /* The grid container */
  .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
  margin-left: 3%;
  margin-right: 2%;
  gap: 1%;

  } 
  
 
  
  .left{
 
    font-size: 24px;
    line-height: 1;
    border: var(--color-txt) 0.5 solid;
    
  }
  .top{
    padding: 7%;
    border: var(--color-txt) solid 1px;
    border-radius: 10px;
    font-size: 14px;
  }

  #Layer_1{
    fill: var(--color-txt);
    width: 85%;
    height: auto;
    
  }
  #Layer_1:hover{
    fill: var(--hover-color);
  }

 
 .my-svg-alternate {
   display: none;
 }
 .no-svg .my-svg-alternate {
   display: block;
   width: 100px;
   height: 100px;
   background-image: url(assets/Untitled-2-02.png);
   background-color: blue;
 }

 .button{
    
  background-color: var(--color-txt);
  color: var(--color-bg);
  padding: 6px 34px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  }

  .button:hover{
    background-color: var(--hover-color);
    color: var(--color-bg);
  }





  .right{

    width: 60%;
   
    margin-left: 12%;
    

  }


  .text-left{
    border: var(--color-txt) solid 1px;
    border-radius: 10px;
    width: 600px;
    padding: 3%;
    font-size: 14px;
    margin-top: 3%;

  }
 

  

  

  .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 32px;
    
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: none;
    -webkit-transition: .4s;
    transition: .4s;
    border: black 0.5px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 31px;
    width: 31px;
    left: 0px;
    bottom: 0px;
    background-color: var(--color-bg);
    -webkit-transition: .4s;
    transition: .4s;
    border: var(--color-txt) 0.5px solid;
  }

  input+.slider{
    background-color: none;
    border: var(--color-txt) 0.5px solid;
  }
  
  
  input:checked+.slider {
    background-color: var(--color-txt);
    border: var(--color-txt) 0.5px solid;
  }
  
  /* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
    background-color: tomato;
  } */
  
  input:checked+.slider:before {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(68px);
  }
  
  
  /* Rounded sliders */
  
  .slider.round {
    border-radius: 32px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  #secondary_content {
    display: none;
  }


  .scene {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    flex-wrap: wrap;
  width: 550px;
  height: 550px;
  gap: 1%;
border-radius: 10px;
padding-left: 0;
padding-right: 12%;
padding-bottom: 12%;
padding-top: 2%;

  
  
  
  }
  .form-check-input{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:0.5px solid var(--color-txt);
    background-color: var(--color-txt);

  }

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    border: 0.5px solid rgb(0, 0, 0);    
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  

  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    line-height: 150px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
   
    -moz-border-radius:5px;
-webkit-border-radius:5px;
    backface-visibility: hidden;
  }

  .card__face:hover{
    box-shadow:0px 2px 3px #656565;
    border: 2px solid var(--hover-color);
   
  }
  
  .card__face--front {
    background: var(--color-bg);
    border: 0.5px solid var(--color-txt); 
    font-weight: 400;
    font-size: 16px;
  
    
  }
  
  .card__face--back {
    background: var(--color-txt);
    border:0.5px solid var(--color-bg); 
    font-weight: 400;
    font-size: 16px;
    transform: rotateY(180deg);
    color: var(--color-bg);
  }
  




  
  .date-container{
    width: 300px;
    height: auto;
  }

  .display-date {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .display-time {
    margin-top: 20px;
    font-size: 16px;
    border: 1px solid var(--color-txt);
    padding: 20px 20px;
    border-radius: 5px;
    transition: ease-in-out 0.1s;
    transition-property: background, box-shadow, color;
    -webkit-box-reflect: below 2px
      linear-gradient(transparent, rgba(255, 255, 255, 0.05));
      box-sizing: border-box;
  }
  
  .display-time:hover {
    background: var(--color-txt);
    box-shadow: 0 0 10px var(--color-bg);
    color: var(--color-bg);
    cursor: pointer;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }



  















